
body {
    display: block;
    margin: 0px!important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 26px 44px;
    text-decoration: none;
    font-family: "tahoma";
}

li a:hover {
    opacity: 0.5;
}

.header {
	background-color: black;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;

   
}
.video-texture {
    height: 762px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 10;
}

.video {
    height: 700px;
    width: 100%;
 	opacity: 1;
    margin-left: 0%;
}
.active_texture {
    background-image: url("../images/grid.png");
}

.logo-lcm{
    clear: both;
    font-family: "tahoma";
	height: 100px;
    color: black;
    margin-top: -38%;
    margin-left: 19%;
    font-size: 20px;
    opacity: 0.5;
}
.bloque1 {
    background-color: #fff;
    margin-top: 4%;
    width: 20%;
    height: 300px;
    margin-left: 12%;
    float: left;
}
.bloque2 {
    background-color: #fff;
    margin-top: 3.7%;
    width: 20%;
    height: 300px;
    margin-left: 9%;
    float: left;
}

.bloque3 {
    background-color: #fff;
    margin-top: 3.7%;
    width: 20%;
    height: 300px;
    margin-right: 10%;
    float: right;
}
.bloque4 {
    background-color: #fff;
    margin-top: 26%;
    width: 20%;
    height: 300px;
    margin-left: -50%;
    float: left;
}
.bloque5 {
    background-color: #fff;
    margin-top: -0.3%;
    width: 20%;
    height: 300px;
    margin-left: 9%;
    float: left;
}

.bloque6 {
    background-color: #fff;
    margin-top: -0.3%;
    width: 20%;
    height: 300px;
    margin-right: 10%;
    float: right;
}
.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 400px;
    margin-top: 1%;
    background-color: #fff;
    clear: both;

}
.cir {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cir:hover {
    border-color: red;
    color: #fff;
}
.line {
  
    margin: auto;
    z-index: 1;
    content: "";
    width: 40%;
    height: 2px;
    background: red;
    bottom: -9px;
    left: 12.5%;
    margin-top: 4%;
}

h1{
	font-family: 'Lato', sans-serif !important;
	font-size: 25px;
	text-align: center;
	color: #808080;
}
.titulo {
    margin-top: 40%;
}

.titulo1 {
    margin-top: -27%;
}
p{
	text-align: justify;
	color: #808080;
	font-size: 15px;
	font-family: 'Lato', sans-serif !important;
}
.row2 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 400px;
    margin-top: 7%;
    background-color: #fff;
    clear: both;

}


.row3 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 700px;
    margin-top: -37%;
    background-color: #fff;
    clear: both;


}
.row4 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    clear: both;


}

img.row-image {
    width: 32%;
    height: 300px;
    margin-top: 3%;
    padding: 8px;
    float: left;

}

.row-image:hover {
opacity: 0.7;

}

.footer {
    background-color: black;
    width: 100%;
    clear: both;
    height: 50px;
}

p.footer {;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif !important;

    padding-top: 33px;
}


img.img-abouts {
    width: 100%;
    height: 500px;
    opacity: 0.2;
   
}

.fondo-green {
    background-color: green;
    width: 100%;
    height: 500px;
    line-height: 40px;
}
.bloque7 {
    background-color: #fff;
    margin-top: -30%;
    width: 25%;
    height: 167px;
    float: left;
    margin-left: 10%;
}
.bloque8 {
    background-color: #fff;
    margin-top: -30%;
    width: 25%;
    height: 167px;
    float: left;
    margin-left: 38%;
}
.bloque9 {
    background-color: #fff;
    margin-top: -30%;
    width: 25%;
    height: 167px;
  float: right;
  margin-right: 9%;
}
.bloque10 {
    background-color: #fff;
    margin-top: -13%;
    width: 25%;
    height: 167px;
    float: left;
    margin-left: 10%;
}
.bloque11 {
    background-color: #fff;
    margin-top: -13%;
    width: 25%;
    height: 167px;
    float: left;
    margin-left: 38%;
}
.bloque12 {
    background-color: #fff;
    margin-top: -13%;
    width: 25%;
    height: 167px;
  float: right;
  margin-right: 9%;
}
.bloques {
    float: left;
    margin-left: 0%;
    width: 100%;
    margin-top: -3%;
}
/* estilos by Rosangela*/

h2{
    font-family: 'Lato', sans-serif !important;
    font-size: 20px;
    text-align: center;
    color: #808080;
}

.row4{
    position: relative;
    .bloques{

        float: none;
        position: absolute;
        top: 0%;
        margin: 0;
        .bloque-text{
            margin: 2% 4%;
            float: left;
             p{
                padding:5px;
            }
        }
        
    }
}

.video{
    iframe{
        width: 100% !important;
    }
}
.clear{
    clear: both;
}
.row3{
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    height: auto;
    .bloque-seccion{
        float: none;
        margin: 0;
        width:  20%;
        background-color: white;
        height: 300px;
        display: inline-block;
        margin-left: 10%;
    }
}
.titulo1{
    margin-top: 55px;

}
footer{
    background-color: black; 
    width: 100%;
    height: 50px;
    p{
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: Lato, sans-serif !important;
        margin: 0;
        padding-top: 5px;
    }
}

/* Responsive By Rosangela+ */

@media only screen and (max-width: 480px) and (orientation: portrait) {

    body{
        width: 100%;
    
        .video{
            iframe{
                width: 100% !important;
                
            }
            .header{
                ul{
                    margin:0;
                    li{
                       a{
                        padding: 20px;
                       } 
                    }
                }
            }
        }
        .row{
            width: 100%;
            height: auto;

            .bloque-productos{
                display: block;
                float: none;
                width: 100%;
                margin:0;
                height: auto;
            }
            
        }
        .row2{
            width: 100%;
            height: auto;
            .row-image{
                display: block;
                float: none;
                width: 100%;
                margin:0;
                height: auto;

            }
        }
         .row3{
            width: 100%;
            height: auto;
            margin: 0;
            .bloque-seccion{
                display: block;
                float: none;
                width: 100%;
                margin:0;
                height: auto;
                margin-top: 20px;
           } 
        }
        .row4{
            width: 100%;
            height: auto;
            margin: 0;
            .bloque-text{
                 display: block;
                float: none;
                width: 100%;
                margin:0;
                height: auto;
                margin-top: 20px;
            }
        .fondo-green{
                img.img-abouts{
                   height: auto;
                }
            }
         }
        .logo-lcm{
            img{ 
                height: auto;
                width: 100%;
                
            }
        }
    }
}